body{
    background: url(https://images.pexels.com/photos/459654/pexels-photo-459654.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}